*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  color: #fff;
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}


.event-label time {
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 4px;
}


#timeline_box {
  width: 100%;
  overflow-x: scroll;
  position: relative;
}

#timeline {
  height: 200px;
  width: 2000px;
  /* Set the width of the timeline to a large value */
  position: relative;
}

.event:hover {
  cursor: pointer;
}

.event-label {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 5px;
  display: none;
}


.timeline {
  height: 400px;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

#timeline_box::-webkit-scrollbar {
  width: 0 !important
}

