/* .event:hover {
  cursor: pointer;
}

.event-label {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  border: 1px solid black;
  padding: 5px;
  display: none;
  color: white;
} */
body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  color: #fff;
}


/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  background: #F45B69;
  padding: 50px 0;

}

.section .container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}


#timeline_box {
  width: 100%;
  overflow-x: scroll;
}

#timeline {
  height: 200px;
  width: 8000px; /* Set the width of the timeline to a large value */
  position: relative;
}

.event:hover {
  cursor: pointer;
}

.event-label {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 5px;
  display: none;
}



/*Experimental*/
.offset{
  max-width: 100%;
  height: auto;
  position: relative;
  top: -500px;
  left: -0px;
} 
#first_offset {
  max-width: 100%;
  height: auto;
  position: relative;
  left: -0px;
  top:350px;
   z-index:-1;  /*Position image behind element*/
}

    .scrolldiv {
        height:100%; 
        width:100%; 
        overflow-x:scroll; 
        white-space: nowrap;
    }

    section::-webkit-scrollbar {
        width: 0 !important
        }
