.timeLINE {
    border: 2px solid rgb(0, 0, 0) ;
    /* background:linear-gradient(to bottom, #33ccff 0%, #b63030 100%); */
    background-color: aliceblue;
    position:relative; 
    left:5px; 
    top:500px; 
    width: 2700px;
    height: 100px;
    
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-family:serif;
    font-size:xx-large;
}



.timeLINE #year1, .timeLINE #year2, .timeLINE #year3, .timeLINE #year4,
.timeLINE #year5, .timeLINE #year6, .timeLINE #year7, .timeLINE #year8 {
    position:relative; 
    display:inline;
    margin:10px 125px 0 170px;
}




  
  p.mod {
    position:relative;
    left:0px;
    Top:-15px;
    padding:0px;
    margin: 0 auto;
    width:25em;
    height:200px;
    font-size:10px;
    /* border: 2px solid rgb(0, 0, 0) ; */
    overflow-wrap:break-word;
    white-space: normal; /*Was needed to get wrapping to work*/
  }
  
  .top_description{
    /* margin:0px 0px 0px 0px; */
    width:100%;
    position: absolute;
    left: 0px;
    Top: -400px;
    font-size:20px;
    text-align: center;
    overflow-wrap: break-word;
    white-space: normal;
    display: inline-block;
  }

  .top_images{
     margin:0px 190px 0px 130px;    /*top, right, bottom, left*/
     position: relative;
    left: 0px;
    top:130px; 
    /* background-color:#33ccff; */
    display: inline-block;
    
    
  }
  
  .bottom_images{
    margin:0px 70px 0px 00px;
    position: relative;
    left: 0px;
    top: 510px; 
    display: inline-block;
  }

  .bottom_description{
    /* margin:0px 0px 0px 0px; */
    width:100%;
    position: absolute;
    left: 0px;
    Top: 370px;
    font-size:20px;
    text-align: center;
    overflow-wrap: break-word;
    white-space: normal;
    display: inline-block;
    border: 1px;

  }
  


  .blue{
    position: relative;
    background-color:#33ccff;
    width:100px;
    height:100px;
    display: inline-block
  }
  .float_left{
    float:left;
  }
  .red{
    background:#ed0000
  }

  .bottom{
    width:1500px;
    height:1000px;
  }

  .lighten_background{
    background: hsl(0, 50%, 45%);
    opacity: .9;
  }
  body{
    background-color: black;
  }

 
  
  .overlay-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    z-index: 1;
  }
  
  .overlay.show {
    display: block;
  }
  
  .overlay:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .overlay .overlay-content {
    display: inline-block;
    vertical-align: middle;
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
    z-index: 2 ;
  }
  
  .zoomable {

    /* overflow: hidden; */
    /* width: 100%; */
    /* height: 100%; */
    opacity: .9;
    }

.zoom {
transform: scale(1.2);
transition: transform 0.5s ease;
}  