
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/Images/Picture1.jpg'); /* set the background image of the body element */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    padding-top: 300px;
    padding-bottom: 300px;
}

.card-body{
    padding-top: 50px;
    padding-bottom: 50px;
}

.custom-login {
    text-align: center;
    background-color: rgb(40, 38, 38);
    padding-top: 20px;
}

.logform{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.logtext{
    color: rgb(245, 243, 240);
}


.custom-signup{
    text-align: center;
    background-color: rgb(245, 243, 240);
    padding-top: 20px;
}

.signform {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.btn btn-secondary{
    padding-top: 20px;
    padding-bottom: 20px;   
}
